{{- if not .codespaces -}}
#!/bin/bash
# brew:{{ range (keys .brew | sortAlpha) }} {{ . }}={{ index $.brew . }}{{ end }}
set -euo pipefail

brew bundle --global
brew bundle cleanup --global --force
{{ end -}}
