{{- $codespaces := env "CODESPACES" | not | not -}}

{{- $email := "" -}}
{{- $awsEnabled := false -}}
{{- $awsSsoSession := "" -}}
{{- $awsSsoStartUrl := "" -}}
{{- $awsSsoRegion := "" -}}
{{- $awsSsoRoleName := "" -}}

{{- /* Discover brew groups from source directory, excluding core and overlay files (*.vscode etc.) */ -}}
{{- $brewGroups := list -}}
{{- range glob (printf "%s/dot_Brewfile.d/*" .chezmoi.sourceDir) -}}
{{-   $name := base . -}}
{{-   if and (ne $name "core") (not (contains "." $name)) -}}
{{-     $brewGroups = append $brewGroups $name -}}
{{-   end -}}
{{- end -}}

{{- /* Derive default selection from existing individual booleans (migration path from old config) */ -}}
{{- $defaultSelected := list -}}
{{- range $brewGroups -}}
{{-   if index $.brew . -}}
{{-     $defaultSelected = append $defaultSelected . -}}
{{-   end -}}
{{- end -}}

{{- $selected := list -}}

{{- if $codespaces -}}
{{-   $email = coalesce (env "GIT_AUTHOR_EMAIL") (env "GIT_COMMITTER_EMAIL") "gillis.andrew@gmail.com" -}}
{{- else -}}
{{-   $email = promptStringOnce . "email" "Git email" -}}
{{-   $awsEnabled = promptBoolOnce . "aws.enabled" "Enable AWS SSO config" true -}}
{{-   if $awsEnabled -}}
{{-     $awsSsoSession = promptStringOnce . "aws.sso_session" "AWS SSO session name" "zorg" -}}
{{-     $awsSsoStartUrl = promptStringOnce . "aws.sso_start_url" "AWS SSO start URL" (printf "https://%s.awsapps.com/start" $awsSsoSession) -}}
{{-     $awsSsoRegion = promptStringOnce . "aws.sso_region" "AWS SSO region" "us-east-1" -}}
{{-     $awsSsoRoleName = promptStringOnce . "aws.sso_role_name" "AWS SSO role name" "AdministratorAccess" -}}
{{-   end -}}
{{-   $selected = promptMultichoiceOnce . "brew.groups" "Brew groups to install" $brewGroups $defaultSelected -}}
{{- end -}}

{{- /* Build per-group booleans from selected list */ -}}
{{- $brewConfig := dict -}}
{{- range $brewGroups -}}
{{-   $_ := set $brewConfig . (has . $selected) -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  codespaces = {{ $codespaces }}

[data.aws]
  enabled = {{ $awsEnabled }}
  sso_session = {{ $awsSsoSession | quote }}
  sso_start_url = {{ $awsSsoStartUrl | quote }}
  sso_region = {{ $awsSsoRegion | quote }}
  sso_role_name = {{ $awsSsoRoleName | quote }}

[data.brew]
{{- range (keys $brewConfig | sortAlpha) }}
  {{ . }} = {{ index $brewConfig . }}
{{- end }}
