{{- $exts := list -}}
{{- range .vscode.extensions.core -}}{{- $exts = append $exts . -}}{{- end -}}
{{- range .vscode.extensions.web_dev -}}{{- $exts = append $exts . -}}{{- end -}}
{{- $items := list -}}
{{- range $exts -}}
{{-   $items = append $items (printf "{\"identifier\":{\"id\":\"%s\"}}" .) -}}
{{- end -}}
{
  "name": "Web Dev",
  "icon": "globe",
  "settings": "{}",
  "extensions": "[{{ $items | join "," | replace "\"" "\\\"" }}]"
}
